<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset_plus.css">
		<link rel="stylesheet" type="text/css" href="/css/stijl.css">
		<script src="/js/script.js" defer></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-1.ico">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
		<style>{{ custom_css }}</style>
  </head>
    <h3 class="hero">Hello Wo...elcome?</h3>

    <button type="button" name="button">LET'S EXPLORE</button>
  <body>
		<header>
			{% include "partials/header.html" %}
		</header>
    <main>
  		{% block content %}{% endblock %}
		</main>
		<footer>
			{% include "partials/footer.html" %}
		</footer>
  </body>
</html>
