{% extends "layouts/base.html" %}

{% block content %}
    <div class="image1">
    <img src="img/image1.png" alt=""></img>
    </div>
  <h2>{{ title }}</h2>
	{{ content | safe }}



  <div class="test">
	<h2>Posts</h2>

	<ul class="bloglist">
  	{% for item in pagination.items %}
    <li>
    	<a href="{{ item.url }}">
				<h4>{{ item.data.title }}</h4>

		    <img src="{{ item.data.image }}" alt="{{ item.data.summary }}"/>
				<p>{{ item.data.summary }}</p>
				<p><a class="morelink" href="{{ item.url }}">Lees meer</a></p>
		  </a>
    </li>
    {% endfor %}
   </ul>

  </div>

	 {% include "partials/pagination.html" %}
	<h3>Featured Projects</h3>
	{% for item in collections.featuredProjects %}
		<a href="{{ item.url }}">
			<h4>{{ item.data.title }}</h4>

	    <img src="{{ item.data.image }}" alt="{{ item.data.summary }}"/>
			<p>{{ item.data.summary }}</p>
	  </a>
	{% endfor %}
	<p>Er staan meer projecten op de <a href="/projects">Project page</a></p>
{% endblock %}
