@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


body {
	width: 95vw;
	margin: 5rem auto;
	font-size: 2rem;
	font-family: "helvetica neue",helvetica;
	color: #38373e;
	scroll-behavior: smooth;
}



p {
text-align: left;
font-size: 1.3rem;
font-weight: 300;
font-family: Catamaran;
}


.wallpaper {
	position: relative;
	background-color: blue;
	width: 100vw;
	height: 20vh;
	margin-left: -1.3rem;
	margin-top: -10rem;
}


.image1 {
width: 100vw;
height: 50vh;
}




header h1 a {
	color: blue;
	text-decoration: none;
	font-size: 3.5rem;
	font-weight: 600;
}

header nav ul {
	display: flex;
	flex-direction: row;
	margin-top: 11rem;
	font-family: lato;
	justify-content: center;
	font-weight
}




header nav ul li {
	margin-top: 6rem;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding: 1.7rem;

}

span {
	font-size: 1.2rem;
	font-family: Catamaran;

}

header nav ul li a.selected {
	color: transparent;
	background-color: #0D01FF;
	padding: 1rem;
	border-radius: 7rem;
}

header {
	margin-bottom: 15rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 5rem;
	padding-bottom: 3rem;
	font-family: lato;
	text-transform: uppercase;
	line-height: 3.5rem;
	color: blue;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

img {
	max-width: 100%;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 5rem;
	padding-bottom: 3rem;
	color:blue;
	border-bottom: .1rem solid blue;
}

main h4 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 5rem;
	text-transform: uppercase;
}

main a {
	text-decoration: none;
	color: #38373e;
}

main ul.blog li a {
	color: firebrick;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

ul.taglist, ul.postlist {
	margin-bottom: 5rem;
}

ul.taglist li, ul.postlist li{
	margin-bottom: 3rem;
}

ul.taglist li a, ul.postlist li a {
	background-color: blue;
	color: white;
	padding: .75rem;
}

a.morelink {
	display: inline-block;
	background-color: blue;
	color: #faf0e4;
	padding: 1.2rem;
	margin-bottom: 3rem;
	border-radius: 5rem;
	font-size: 1.5rem;
}

nav.pagination a {
	display: inline-block;
	color: blue;
	padding: 1.25rem;
	margin-bottom: 9rem;
}




footer {
	border-top: 0.2rem solid #38373e;
	padding-top: 3rem;
}

@media (min-width: 800px) {
	body {
			width: 85vw;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 32rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 7.5vw;
	}
}

@media (min-width: 1000px) {
	body {
			width: 75vw;
	}

	header nav {
		right: 12.5vw;
	}
}
